/*calendario*/
.toptabla {
    text-transform: uppercase;
    font-size: 15px;
    background-color: #ddd9df;
  }
  .subtabla {
    font-family: "Lovelo", sans-serif;
    font-size: 21px;
    font-weight: bold;
    text-transform: uppercase;
    text-align: center;
    text-decoration: underline;
  }