/*formulario contacto*/
  .contenedor-flex {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
  }
  .form-flex {
    border: 1px solid #ffffff;
    width: 49%;
    margin: 1% 1%;
    padding-left: 4px;
}

  .form1-flex {
    border: 3px solid #ddd9df;
    width: 100%;
    padding: 2%;
    border-radius: 6px;
    margin: 10 auto;
}

.input-group-text {
  background-color:#ddd9df;
}