/*formulario contacto*/
  #limpiar {
    background-color: #ddd9df;
    border-radius: 8px;
  }
  #enviar {
    background-color: #ddd9df;
    font-weight: bold;
    border-radius: 8px;
  }
  
  .contenedor-flex {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
  }
  .form-flex {
    border: 1px solid #ffffff;
    width: 49%;
    margin: 1% 1%;
    padding-left: 4px;
}

  .form1-flex {
    border: 3px solid #ddd9df;
    width: 100%;
    padding: 2%;
    border-radius: 6px;
    margin: 0 auto;
}

