/*Entrevistas*/

.page-link {
    color: #7c6a86;
    background-color: #ddd9df;
}
.pagination {
    justify-content: right;
}

.entrevistas {
    margin: 30px;
    text-align: justify;
    font-size: 14px;
    border: 2px solid #ddd9df;
    border-radius: 6px;
}

.dialogo {
    white-space: pre-line;
}

#foto-entrevistas {
    margin-right: 15px;
}