/*footer*/
.footer {
    background-color: #ddd9df;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    flex: 1;
  }
  .redes {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    width: 100%;
  }
  