* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@font-face {
  font-family: "Lovelo";
  src: url("fonts/Lovelo-Black.otf") format("sans-serif");
  }
@font-face {
  font-family: "Gilroy";
  src: url("fonts/Gilroy-Light.otf") format("sans-serif");
  }

/*cuerpo*/
main {
    font-family: "Gilroy", sans-serif;
    margin: 1% 1%;
    text-align: justify;
  }
  h1 {
    font-family: "Lovelo", sans-serif;
    color: #7c6a86;
    font-size: 25px;
    text-align: center;
    text-decoration: overline;
  }
  h2 {
    font-size: 17px;
    color: #2e2e2e;
    font-weight: bold;
    text-transform: uppercase;
    text-align: center;
  }
  h3 {
    font-size: 15px;
    color: #2e2e2e;
    text-transform: uppercase;
    text-align: center;
  }
  p {
    font-family: "Gilroy", sans-serif;
    font-size: 15px;
    margin-left: 10px;
    margin-right: 10px;
    text-align: justify;
  }
  
  @mixin sizes($width, $height) {
    height: $height;
    width: $width;
  }
