/*noticias*/
.subtcaru {
    font-weight: bolder;
    text-transform: uppercase;
    font-size: 22px;
    font-family: "Lovelo", sans-serif;
  }
  .texcaru {
    font-family: "Gilroy", sans-serif;
    font-size: 17px;
    font-weight: bold;
  }
  
/*inicio*/
  @mixin inicio {
    margin-top: 50px;
  }

#festa{
  @include inicio;
}
#historia {
  padding-top: 30px;
  @include inicio;
}
#link {
  color: #5f4f68;
  font-size: 12px;
}

#eventos {
  @include inicio;
}
#playlist {
  @include inicio;
}
