/*miembros*/
.grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(4, 1fr);
    grid-template-areas: ". rm ." "jin suga jhope" "jimin v jk";
    grid-column-gap: 40px;
    grid-row-gap: 15px;
    justify-content: center;
    align-content: center;
    padding: 8px;
  }

  @mixin miembros {
    background: #ffffff;
    text-align: justify;
  }

  .rm {
    grid-area: rm;
    @include miembros;
  }
  .jin {
    grid-area: jin;
    @include miembros;
  }
  .suga {
    grid-area: suga;
    @include miembros;
  }
  .jhope {
    grid-area: jhope;
    @include miembros;
  }
  .jimin {
    grid-area: jimin;
    @include miembros;
  }
  .v {
    grid-area: v;
    @include miembros;
  }
  .jk {
    grid-area: jk;
    @include miembros;
  }

  .miembros-container {
    @include sizes(375, auto);
    position: relative; 

   p {
    margin: auto;  
    padding-top: 50px;
    padding-left: 14px;
    padding-right: 20px;
    font-family: "Gilroy", sans-serif;
    font-size: 15px;
    text-align: justify;
    text-decoration-color: #5f4f68;
    background: #ffffff;
    transition: opacity .5s linear;
    cursor: pointer;  
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    opacity: 0;
  }
}
  .miembros-container:hover p {
    opacity: .75;  
  }

  span {
    font-weight: bold;
  }

