/*miembros*/
.grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(4, 1fr);
    grid-template-areas: ". rm ." "jin suga jhope" "jimin v jk";
    grid-column-gap: 40px;
    grid-row-gap: 15px;
    justify-content: space-evenly;
    align-content: space-evenly;
    padding: 8px;
  }
  
  @mixin miembros {
    background: #ddd9df;
    text-align: justify;
  }

  .rm {
    grid-area: rm;
    @include miembros;
  }
  .jin {
    grid-area: jin;
    @include miembros;
  }
  .suga {
    grid-area: suga;
    @include miembros;
  }
  .jhope {
    grid-area: jhope;
    @include miembros;
  }
  .jimin {
    grid-area: jimin;
    @include miembros;
  }
  .v {
    grid-area: v;
    @include miembros;
  }
  .jk {
    grid-area: jk;
    @include miembros;
  }