/*store*/
.card-title {
  font-family: "Lovelo", sans-serif;
  font-weight: bold;
  font-size: 19px;
}

.btn {
  font-family: "Lovelo", sans-serif;
  font-size: 17px;
  background-color:#ddd9df;
}

.card-img-top {
  @include sizes(auto, 400px);
}
