/*tours*/

.grid3 {
    display: grid;
    grid-template-rows: repeat(6, 1fr);
    grid-template-areas: "tour1" "tour2" "tour3" "tour4" "tour5" "tour6";
    grid-row-gap: 15px;
    justify-content: center;
    align-content: center;
    padding: 8px;
  }
  
  @mixin tour {
    background: #5f4f68;
    text-align: justify;
  }
  
  .tour1 {
    grid-area: tour1;
    @include tour;
  }
  .tour2 {
    grid-area: tour2;
    @include tour;
  }
  .tour3 {
    grid-area: tour3;
    @include tour;
  }
  .tour4 {
    grid-area: tour4;
    @include tour;
  }
  .tour5 {
    grid-area: tour5;
    @include tour;
  }
  .tour6 {
    grid-area: tour6;
    @include tour;
  }

  .tour-container {
    position: relative;
  
    p {
      margin: auto;
      padding-top: 30px;
      padding-left: 30px;
      padding-right: 30px;
      font-family: "Lovelo", sans-serif;
      font-size: 25px;
      text-align: center;
      color: #ddd9df;
      background: #5f4f68;
      transition: opacity 0.5s linear;
      cursor: pointer;
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      opacity: 0;
    }
  }
  .tour-container:hover p {
    opacity: 0.85;
  }
  
  .tour-datos {
    font-family: "Gilroy", sans-serif;
    display: inline-block;
    text-align: justify;
    padding-left: 30px;
    padding-right: 30px;
  }