@charset "UTF-8";
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@font-face {
  font-family: "Lovelo";
  src: url("fonts/Lovelo-Black.otf") format("otf");
}
@font-face {
  font-family: "Gilroy";
  src: url("fonts/Gilroy-Light.otf") format("otf");
}
/*cuerpo*/
main {
  font-family: "Gilroy", sans-serif;
  margin: 1% 1%;
  text-align: justify;
}

h1 {
  font-family: "Lovelo", sans-serif;
  color: #7c6a86;
  font-size: 25px;
  text-align: center;
  text-decoration: overline;
}

h2 {
  font-size: 17px;
  color: #2e2e2e;
  font-weight: bold;
  text-transform: uppercase;
  text-align: center;
}

h3 {
  font-size: 15px;
  color: #2e2e2e;
  text-transform: uppercase;
  text-align: center;
}

p {
  font-family: "Gilroy", sans-serif;
  font-size: 15px;
  margin-left: 10px;
  margin-right: 10px;
  text-align: justify;
}

/*barra de navegación*/
.fixed {
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 999;
}

.nav {
  font-family: "Lovelo", sans-serif;
  text-align: center;
  font-size: 20px;
  width: 100%;
  background-color: #ffffff;
}
.nav ul {
  list-style: none;
}

.menu li {
  position: relative;
  display: inline-block;
  text-align: center;
  padding: 5px 10px;
}
.menu li a {
  display: block;
  padding: 5px 10px;
  color: #000000;
  text-decoration: none;
  text-align: center;
}

.menu li:hover {
  background-color: #ddd9df;
  color: #000000;
}

/*submenu*/
.submenu {
  position: absolute;
  background-color: #ffffff;
  visibility: hidden;
  opacity: 0;
  transition: opacity 1.5s;
  padding: 0px 5px;
  z-index: 999;
}
.submenu li a {
  display: block;
  text-decoration: none;
  color: inherit;
  font-size: 16px;
}

.menu li:hover .submenu {
  color: #000000;
  visibility: visible;
  opacity: 1;
}

/*noticias*/
.subtcaru {
  font-weight: bolder;
  text-transform: uppercase;
  font-size: 22px;
  font-family: "Lovelo", sans-serif;
}

.texcaru {
  font-family: "Gilroy", sans-serif;
  font-size: 17px;
  font-weight: bold;
}

/*inicio*/
#festa {
  margin-top: 50px;
}

#historia {
  padding-top: 30px;
  margin-top: 50px;
}

#link {
  color: #5f4f68;
  font-size: 12px;
}

#eventos {
  margin-top: 50px;
}

#playlist {
  margin-top: 50px;
}

/*calendario*/
.toptabla {
  text-transform: uppercase;
  font-size: 15px;
  background-color: #ddd9df;
}

.subtabla {
  font-family: "Lovelo", sans-serif;
  font-size: 21px;
  font-weight: bold;
  text-transform: uppercase;
  text-align: center;
  text-decoration: underline;
}

/*store*/
.card-title {
  font-family: "Lovelo", sans-serif;
  font-weight: bold;
  font-size: 19px;
}

.btn {
  font-family: "Lovelo", sans-serif;
  font-size: 17px;
  background-color: #ddd9df;
}

.card-img-top {
  height: 400px;
  width: auto;
}

/*formulario contacto*/
.contenedor-flex {
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: center;
}

.form-flex {
  border: 1px solid #ffffff;
  width: 49%;
  margin: 1% 1%;
  padding-left: 4px;
}

.form1-flex {
  border: 3px solid #ddd9df;
  width: 100%;
  padding: 2%;
  border-radius: 6px;
  margin: 10 auto;
}

.input-group-text {
  background-color: #ddd9df;
}

/*staff*/
.staff {
  text-indent: 2em;
  font-size: 15px;
}

.col {
  margin-top: 10px;
}

/*miembros*/
.grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  grid-template-areas: ". rm ." "jin suga jhope" "jimin v jk";
  grid-column-gap: 40px;
  grid-row-gap: 15px;
  justify-content: center;
  align-content: center;
  padding: 8px;
}

.rm {
  grid-area: rm;
  background: #ffffff;
  text-align: justify;
}

.jin {
  grid-area: jin;
  background: #ffffff;
  text-align: justify;
}

.suga {
  grid-area: suga;
  background: #ffffff;
  text-align: justify;
}

.jhope {
  grid-area: jhope;
  background: #ffffff;
  text-align: justify;
}

.jimin {
  grid-area: jimin;
  background: #ffffff;
  text-align: justify;
}

.v {
  grid-area: v;
  background: #ffffff;
  text-align: justify;
}

.jk {
  grid-area: jk;
  background: #ffffff;
  text-align: justify;
}

.miembros-container {
  height: auto;
  width: 375;
  position: relative;
}
.miembros-container p {
  margin: auto;
  padding-top: 50px;
  padding-left: 14px;
  padding-right: 22px;
  font-family: "Gilroy", sans-serif;
  font-size: 15px;
  text-align: justify;
  text-decoration-color: #5f4f68;
  background: #ffffff;
  transition: opacity 0.5s linear;
  cursor: pointer;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  opacity: 0;
}

.miembros-container:hover p {
  opacity: 0.75;
}

span {
  font-weight: bold;
  font-family: "Lovelo", sans-serif;
  font-size: 14px;
}

/*discografía*/
.grid2 {
  display: grid;
  grid-template-columns: repeat(3, 250px);
  grid-template-rows: repeat(6, 250px);
  grid-template-areas: "R Q P" "O N M" "L K J" "I H G" "F E D" "C B A";
  grid-column-gap: 40px;
  grid-row-gap: 15px;
  justify-content: center;
  align-content: center;
  padding: 8px;
}

.img-container {
  height: 250px;
  width: 250px;
  position: relative;
}
.img-container p {
  margin: auto;
  color: #ddd9df;
  text-align: center;
  padding-top: 50px;
  background: #000000;
  transition: opacity 0.5s linear;
  cursor: pointer;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  opacity: 0;
  font-family: "Lovelo", sans-serif;
  font-size: 20px;
}

.img-container:hover p {
  opacity: 0.75;
}

.A {
  grid-area: A;
}

.B {
  grid-area: B;
}

.C {
  grid-area: C;
}

.D {
  grid-area: D;
}

.E {
  grid-area: E;
}

.F {
  grid-area: F;
}

.G {
  grid-area: G;
}

.H {
  grid-area: H;
}

.I {
  grid-area: I;
}

.J {
  grid-area: J;
}

.K {
  grid-area: K;
}

.L {
  grid-area: L;
}

.M {
  grid-area: M;
}

.N {
  grid-area: N;
}

.O {
  grid-area: O;
}

.P {
  grid-area: P;
}

.Q {
  grid-area: Q;
}

.R {
  grid-area: R;
}

.album {
  font-family: "Gilroy", sans-serif;
}

/*tours*/
.grid3 {
  display: grid;
  grid-template-rows: repeat(6, 1fr);
  grid-template-areas: "tour1" "tour2" "tour3" "tour4" "tour5" "tour6";
  grid-row-gap: 15px;
  justify-content: center;
  align-content: center;
  padding: 8px;
}

.tour1 {
  grid-area: tour1;
  background: #5f4f68;
  text-align: justify;
}

.tour2 {
  grid-area: tour2;
  background: #5f4f68;
  text-align: justify;
}

.tour3 {
  grid-area: tour3;
  background: #5f4f68;
  text-align: justify;
}

.tour4 {
  grid-area: tour4;
  background: #5f4f68;
  text-align: justify;
}

.tour5 {
  grid-area: tour5;
  background: #5f4f68;
  text-align: justify;
}

.tour6 {
  grid-area: tour6;
  background: #5f4f68;
  text-align: justify;
}

.tour-container {
  position: relative;
}
.tour-container p {
  margin: auto;
  padding-top: 30px;
  padding-left: 30px;
  padding-right: 30px;
  font-family: "Lovelo", sans-serif;
  font-size: 25px;
  text-align: center;
  color: #ddd9df;
  background: #5f4f68;
  transition: opacity 0.5s linear;
  cursor: pointer;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  opacity: 0;
}

.tour-container:hover p {
  opacity: 0.85;
}

.tour-datos {
  font-family: "Gilroy", sans-serif;
  display: inline-block;
  text-align: justify;
  padding-left: 30px;
  padding-right: 30px;
}

/*Entrevistas*/
.page-link {
  color: #7c6a86;
  background-color: #ddd9df;
}

.pagination {
  justify-content: right;
}

.entrevistas {
  margin: 30px;
  text-align: justify;
  font-size: 14px;
  border: 2px solid #ddd9df;
  border-radius: 6px;
}

.dialogo {
  white-space: pre-line;
}

#foto-entrevistas {
  margin-right: 15px;
}

/*Multimedia*/
.figure-caption {
  font-size: 15px;
  color: #5f4f68;
}

/*footer*/
.footer {
  background-color: #ddd9df;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  flex: 1;
}

.redes {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  width: 100%;
}

/*error*/
.body-error {
  background-image: url("images/fondoerror.png");
}

.error-details {
  font-family: "Gilroy", sans-serif;
  font-size: 15px;
  color: #2e2e2e;
  white-space: pre-line;
  font-weight: bold;
}

.error-template {
  padding: 50px;
  text-align: center;
}

.error-actions {
  margin-top: 15px;
  margin-bottom: 15px;
}

/*# sourceMappingURL=style.css.map */
